p {
    font-size: 13pt;
    font-family: serif; Merriweather-Light
    font-weight: lighter; 20%;
    margin: 20px 200px 10px 100px;
}

h1 {
  font-size: 40px;
  font-family: sans-serif; Lato-Regular
  font-weight: bold;
  margin: 20px 200px 10px 100px;
}

li {
    font-size: 13pt;
    font-family: serif; Merriweather-Light
    margin-right: 900px;
    margin: 20px 200px 10px 100px;

}
